# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

# YOLOv5
yolov5/
yolov5/README.md
etc/bash_completion.d/youtube-dl.bash-completion
etc/fish/completions/youtube-dl.fish
Scripts/activate
Scripts/activate.bat
Scripts/Activate.ps1
Scripts/convert-caffe2-to-onnx.exe
Scripts/convert-onnx-to-caffe2.exe
Scripts/deactivate.bat
Scripts/f2py.exe
Scripts/fonttools.exe
Scripts/getmac.exe
Scripts/google-oauthlib-tool.exe
Scripts/ipython3.exe
Scripts/ipython.exe
Scripts/markdown_py.exe
Scripts/normalizer.exe
Scripts/pip3.10.exe
Scripts/pip3.exe
Scripts/pip.exe
Scripts/pyftmerge.exe
Scripts/pyftsubset.exe
Scripts/pygmentize.exe
Scripts/pyrsa-decrypt.exe
Scripts/pyrsa-encrypt.exe
Scripts/pyrsa-keygen.exe
Scripts/pyrsa-priv2pub.exe
Scripts/pyrsa-sign.exe
Scripts/pyrsa-verify.exe
Scripts/python.exe
Scripts/pythonw.exe
Scripts/tensorboard.exe
Scripts/torchrun.exe
Scripts/tqdm.exe
Scripts/ttx.exe
Scripts/wheel.exe
Scripts/youtube-dl.exe
Scripts/ytdl
share/doc/youtube_dl/README.txt
share/man/man1/getmac.1
share/man/man1/ipython.1
share/man/man1/ttx.1
share/man/man1/youtube-dl.1
yolov5/README.md
test.py
pyvenv.cfg
Scripts/backend-test-tools.exe
Scripts/check-model.exe
Scripts/check-node.exe
Scripts/estimator_ckpt_converter.exe
Scripts/import_pb_to_tensorboard.exe
Scripts/saved_model_cli.exe
Scripts/tflite_convert.exe
Scripts/tf_upgrade_v2.exe
Scripts/toco.exe
Scripts/toco_from_protos.exe
Controller/2019_1120_172552_022.MOV
Scripts/cmark.exe
Scripts/manimce.exe
Scripts/manim.exe
Scripts/srt
Scripts/srt-deduplicate
Scripts/srt-fixed-timeshift
Scripts/srt-linear-timeshift
Scripts/srt-lines-matching
Scripts/srt-mux
Scripts/srt-normalise
Scripts/srt-play
Scripts/srt-process
Scripts/watchmedo.exe
share/doc/networkx-2.8.7/LICENSE.txt
share/doc/networkx-2.8.7/examples/README.txt
share/doc/networkx-2.8.7/examples/3d_drawing/mayavi2_spring.py
share/doc/networkx-2.8.7/examples/3d_drawing/plot_basic.py
share/doc/networkx-2.8.7/examples/3d_drawing/README.txt
share/doc/networkx-2.8.7/examples/algorithms/hartford_drug.edgelist
share/doc/networkx-2.8.7/examples/algorithms/plot_beam_search.py
share/doc/networkx-2.8.7/examples/algorithms/plot_betweenness_centrality.py
share/doc/networkx-2.8.7/examples/algorithms/plot_blockmodel.py
share/doc/networkx-2.8.7/examples/algorithms/plot_circuits.py
share/doc/networkx-2.8.7/examples/algorithms/plot_davis_club.py
share/doc/networkx-2.8.7/examples/algorithms/plot_dedensification.py
share/doc/networkx-2.8.7/examples/algorithms/plot_iterated_dynamical_systems.py
share/doc/networkx-2.8.7/examples/algorithms/plot_krackhardt_centrality.py
share/doc/networkx-2.8.7/examples/algorithms/plot_parallel_betweenness.py
share/doc/networkx-2.8.7/examples/algorithms/plot_rcm.py
share/doc/networkx-2.8.7/examples/algorithms/plot_snap.py
share/doc/networkx-2.8.7/examples/algorithms/plot_subgraphs.py
share/doc/networkx-2.8.7/examples/algorithms/README.txt
share/doc/networkx-2.8.7/examples/algorithms/WormNet.v3.benchmark.txt
share/doc/networkx-2.8.7/examples/basic/plot_properties.py
share/doc/networkx-2.8.7/examples/basic/plot_read_write.py
share/doc/networkx-2.8.7/examples/basic/plot_simple_graph.py
share/doc/networkx-2.8.7/examples/basic/README.txt
share/doc/networkx-2.8.7/examples/drawing/chess_masters_WCC.pgn.bz2
share/doc/networkx-2.8.7/examples/drawing/knuth_miles.txt.gz
share/doc/networkx-2.8.7/examples/drawing/plot_chess_masters.py
share/doc/networkx-2.8.7/examples/drawing/plot_custom_node_icons.py
share/doc/networkx-2.8.7/examples/drawing/plot_degree.py
share/doc/networkx-2.8.7/examples/drawing/plot_directed.py
share/doc/networkx-2.8.7/examples/drawing/plot_edge_colormap.py
share/doc/networkx-2.8.7/examples/drawing/plot_ego_graph.py
share/doc/networkx-2.8.7/examples/drawing/plot_eigenvalues.py
share/doc/networkx-2.8.7/examples/drawing/plot_four_grids.py
share/doc/networkx-2.8.7/examples/drawing/plot_house_with_colors.py
share/doc/networkx-2.8.7/examples/drawing/plot_knuth_miles.py
share/doc/networkx-2.8.7/examples/drawing/plot_labels_and_colors.py
share/doc/networkx-2.8.7/examples/drawing/plot_multipartite_graph.py
share/doc/networkx-2.8.7/examples/drawing/plot_node_colormap.py
share/doc/networkx-2.8.7/examples/drawing/plot_rainbow_coloring.py
share/doc/networkx-2.8.7/examples/drawing/plot_random_geometric_graph.py
share/doc/networkx-2.8.7/examples/drawing/plot_sampson.py
share/doc/networkx-2.8.7/examples/drawing/plot_selfloops.py
share/doc/networkx-2.8.7/examples/drawing/plot_simple_path.py
share/doc/networkx-2.8.7/examples/drawing/plot_spectral_grid.py
share/doc/networkx-2.8.7/examples/drawing/plot_tsp.py
share/doc/networkx-2.8.7/examples/drawing/plot_unix_email.py
share/doc/networkx-2.8.7/examples/drawing/plot_weighted_graph.py
share/doc/networkx-2.8.7/examples/drawing/README.txt
share/doc/networkx-2.8.7/examples/drawing/unix_email.mbox
share/doc/networkx-2.8.7/examples/graph/plot_degree_sequence.py
share/doc/networkx-2.8.7/examples/graph/plot_erdos_renyi.py
share/doc/networkx-2.8.7/examples/graph/plot_expected_degree_sequence.py
share/doc/networkx-2.8.7/examples/graph/plot_football.py
share/doc/networkx-2.8.7/examples/graph/plot_karate_club.py
share/doc/networkx-2.8.7/examples/graph/plot_morse_trie.py
share/doc/networkx-2.8.7/examples/graph/plot_napoleon_russian_campaign.py
share/doc/networkx-2.8.7/examples/graph/plot_roget.py
share/doc/networkx-2.8.7/examples/graph/plot_words.py
share/doc/networkx-2.8.7/examples/graph/README.txt
share/doc/networkx-2.8.7/examples/graph/roget_dat.txt.gz
share/doc/networkx-2.8.7/examples/graph/words_dat.txt.gz
share/doc/networkx-2.8.7/examples/subclass/plot_antigraph.py
share/doc/networkx-2.8.7/examples/subclass/plot_printgraph.py
share/doc/networkx-2.8.7/examples/subclass/README.txt

# PlatformIO
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio
.vscode