absl-py
area
asttokens
astunparse
asyncio-mqtt
backcall
beautifulsoup4
cachetools
certifi
charset-normalizer
click
click-default-group
cloup
colorama
colour
commonmark
contourpy
cycler
decorator
executing
flatbuffers
fonttools
gast
geojson
getmac
gitdb
GitPython
glcontext
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipython
isosurfaces
jedi
keras
Keras-Preprocessing
kiwisolver
libclang
manim
ManimPango
mapbox-earcut
Markdown
MarkupSafe
matplotlib
matplotlib-inline
moderngl
moderngl-window
multipledispatch
networkx
numpy
oauthlib
onnx
opencv-python
opt-einsum
packaging
pafy
paho-mqtt
pandas
parinya
parso
pickleshare
Pillow
progressbar2
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pycairo
pycoral
pydub
pyglet
Pygments
pyparsing
pyrr
python-dateutil
python-utils
pytz
PyYAML
requests
requests-oauthlib
rich
rsa
scipy
screeninfo
seaborn
six
skia-pathops
smmap
soupsieve
srt
stack-data
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io
tensorflow-io-gcs-filesystem
termcolor
tflite-runtime
thop
torch
torchaudio
torchvision
tqdm
traitlets
typing_extensions
urllib3
watchdog
wcwidth
Werkzeug
wrapt
youtube-dl
zipp
